## Problem Statement 1

In each of the following situations, state whether it is a correctly stated hypothesis
testing problem and why?
1. H0: μ = 25, H1: μ ≠ 25
2. H0: σ > 10, H1: σ = 10 
3. H0: x = 50, H1: x ≠ 50
4. H0: p = 0.1, H1: p = 0.5
5. H0: s = 30, H1: s > 30

1. Yes, because values in both are statement about population or distribution, have equal values and has inequality in ull hypothesis.
2. No, because null hypothesis has an eqaulity claim and alternate hypothesis has inequality.
3. No, because hypothesis is stated in terms of statistics and not sample data 4. No, because values in both hypothesis is different and has equal sign.
4. No, because hypothesis are always statements about population or distribution and not about sample

## Problem Statement 2:

The college bookstore tells prospective students that the average cost of its
textbooks is Rs. 52 with a standard deviation of Rs. 4.50. A group of smart statistics
students thinks that the average cost is higher. To test the bookstore’s claim against
their alternative, the students will select a random sample of size 100. Assume that
the mean from their random sample is Rs. 52.80. Perform a hypothesis test at the
5% level of significance and state your decision.

In [36]:
from scipy.stats import norm,t
pop_mean=52
pop_sd=4.5
x=52.80
n=100
alpha=0.05

since n>=30 we will perform One sampled Z test

- H0: Average cost is same as book store told value µ=52

- Ha: Average cost is greater than book store told value µ<52

it is a left tailed test

In [10]:
# Calculating Z test statistic
std_error=pop_sd/(n**0.5)
T_obs=(x-pop_mean)/std_error
print("Observed Test statistic is",T_obs)

Observed Test statistic is 1.7777777777777715

In [15]:
p_value=norm.cdf(T_obs)
print('p_value is',p_value)

p_value is 0.9622798201865993

#### Conclusion

Since p value > alpha we accept null hypo

## Problem Statement 3:

A certain chemical pollutant in the Genesee River has been constant for several
years with mean μ = 34 ppm (parts per million) and standard deviation σ = 8 ppm. A
group of factory representatives whose companies discharge liquids into the river is
now claiming that they have lowered the average with improved filtration devices. A
group of environmentalists will test to see if this is true at the 1% level of
significance. Assume \ that their sample of size 50 gives a mean of 32.5 ppm.
Perform a hypothesis test at the 1% level of significance and state your decision.

In [19]:
pop_mean=34
pop_sd=8
x=32.5
n=50
alpha=0.01

since n>=30 we will perform One sampled Z test

- H0: Average chemical pollutant after filtering remains same as Unfiltered one µ=34

- Ha: Average chemical pollutant after filtering is less than Unfiltered one µ<34

it is a left tailed test

In [20]:
# calculating Z-test statistics
std_error=pop_sd/(n**0.5)
T_obs=(x-pop_mean)/std_error
print("Observed Z test statistic is ",T_obs)

Observed Z test statistic is  -1.3258252147247767

In [22]:
# calculating p-value
p_value=norm.cdf(T_obs)
print("P value is",p_value)

P value is 0.0924487994828001

#### Conclusion 

Since p value is greater than significance level accept Null hypo

## Problem Statement 4:

Based on population figures and other general information on the U.S. population,
suppose it has been estimated that, on average, a family of four in the U.S. spends
about $1135 annually on dental expenditures. Suppose further that a regional dental
association wants to test to determine if this figure is accurate for their area of
country. To test this, 22 families of 4 are randomly selected from the population in
that area of the country and a log is kept of the family’s dental expenditure for one
year. The resulting data are given below. Assuming, that dental expenditure is
normally distributed in the population, use the data and an alpha of 0.5 to test the
dental association’s hypothesis.
1008, 812, 1117, 1323, 1308, 1415, 831, 1021, 1287, 851, 930, 730, 699,
872, 913, 944, 954, 987, 1695, 995, 1003, 994

In [23]:
import numpy as np
pop_mean=1135
samples=[1008, 812, 1117, 1323, 1308, 1415, 831, 1021, 1287, 851, 930, 730, 699, 872, 913, 944, 954, 987, 1695, 995, 1003, 994]
alpha=0.05

# sample size 
n=22

# calculating sample mean
x=np.mean(samples)

#calculating sample SD
s=np.std(samples)

since n<30 we perform T test 

- H0: mu=1135
- Ha: mu!=1135

it is a 2 tailed test

In [24]:
# calculating t test statistics
std_error=s/(n**0.5)
T_obs=(x-pop_mean)/std_error
print(f"Observed T test statistics is {T_obs}")

Observed T test statistics is -2.070747228595759

In [26]:
# calculating p value
p_value=2*norm.cdf(T_obs)
print(f"P value is {p_value}")

P value is 0.03838242412656271

#### Conclusion

since p value is lesser than significance level we reject null hypo

## Problem Statement 5:

In a report prepared by the Economic Research Department of a major bank the
Department manager maintains that the average annual family income on Metropolis
is $ 48,432. What do you conclude about the validity of the report if a random sample
of 400 families shows and average income of $48,574 with a standard deviation of
2000?

In [ ]:
p_mean = 48432
p_std = 2000
n =400
sample_mean =48574

SE = p_std/n**0.5
Z = (sample_mean-p_mean)/SE
alpha=0.05
print(f"Critical region is {norm.ppf(alpha/2)} {-norm.ppf(alpha/2)}")

*We accept null hypothesis at alpha=0.05 since z_score<critical_region

## Problem Statement 6:

Suppose that in past years the average price per square foot for warehouses in the
United States has been $32.28. A national real estate investor wants to determine
whether that figure has changed now. The investor hires a researcher who randomly
samples 19 warehouses that are for sale across the United States and finds that the
mean price per square foot is $31.67, with a standard deviation of $1.29. assume
that the prices of warehouse footage are normally distributed in population. If the
researcher uses a 5% level of significance, what statistical conclusion can be
reached? What are the hypotheses?

In [30]:
pop_mean=32.28
n=19
x=31.67
s=1.29
alpha=0.05

since n<30 we use T-Test

- H0: mu=32.28
- Ha: mu!=32.28

it is a 2 tailed test since we are chekcing for inequaltity

In [31]:
# calculating T test statistics
std_error=s/(n**0.5)
T_obs=(x-pop_mean)/std_error
print(f"Observed T test satistics is {T_obs}")

Observed T test satistics is -2.06118477175179

In [32]:
# calculating p value
p_value=2*norm.cdf(T_obs)
print("P value is ",p_value)

P value is  0.039285415777427564

#### Conclusion

Since p value is less than significance level we reject null hypo

## Problem Statement 8

Find the t-score for a sample size of 16 taken from a population with mean 10 when
the sample mean is 12 and the sample standard deviation is 1.5.

In [33]:
pop_mean=10
x=12
s=1.5
n=16

# calculating std error
std_error=s/(n**0.5)
t_score=(x-pop_mean)/std_error
print("The t-score for the given problem is ",t_score)

The t-score for the given problem is  5.333333333333333

## Problem Statement 9:

Find the t-score below which we can expect 99% of sample means will fall if samples
of size 16 are taken from a normally distributed population.

In [37]:
n= 16
alpha=(1-0.99)/2
print(f"t_score is {t.ppf(1-alpha,df=15)}")

t_score is 2.946712883338615

## Problem Statement 10:

If a random sample of size 25 drawn from a normal population gives a mean of 60
and a standard deviation of 4, find the range of t-scores where we can expect to find
the middle 95% of all sample means. Compute the probability that (−t0.05 <t<t0.10).

In [47]:
n=25
x=60
s=4
alpha=0.05

# range of t-scores where we can expect to find the middle 95% of all sample means
left_bound=t.ppf(alpha/2,df=24)
right_bound=t.ppf(alpha/2,df=24)
print(f"The range is {(left_bound*s)-x} to {(right_bound*s)+x}")

The range is -68.25559424651209 to 51.74440575348792

In [48]:
# the probability that (−t0.05 <t<t0.10).
prob=t.cdf(0.10,df=24)-t.cdf(0.05,df=24)
print("Prob is:",prob)

Prob is: 0.019680605913527716

## Problem Statement 11:


Two-tailed test for difference between two population means
Is there evidence to conclude that the number of people travelling from Bangalore to
Chennai is different from the number of people travelling from Bangalore to Hosur in
a week, given the following:
Population 1: Bangalore to Chennai n1 = 1200
x1 = 452
s1 = 212
Population 2: Bangalore to Hosur n2 = 800
x2 = 523
s2 = 185

since the sample size n>30 we use Z test 

- H0:  two population means are same       µ1=µ2
- Ha:  two population means are not same   µ1!=µ2

it is a two tail test
it is 2 sampled Z test

In [58]:
# sample of people from banglore to chennai
m1=452      #sample1 mean
n1=1200     #sample1 size
s1=212      #sample1 SD

# sample of people from banglore to hosur
m2=523
n2=800
s2=185


# calculating  test statistics for 2 sampled Z test
std_error=(s1**2/n1)+(s2**2/n2)
T_obs=(m1-m2)/std_error**0.5
print("Observed test statistics is",T_obs)

Observed test statistics is -7.926428526759299

In [63]:
# calculating p value for 2 tailed test
p_val=2*norm.cdf(T_obs)
print("The p value is",p_value)

The p value is 0.039285415777427564

#### Conclusion 

since p value is less than significance level we reject null hypothesis

## Problem Statement 12:

Is there evidence to conclude that the number of people preferring Duracell battery is
different from the number of people preferring Energizer battery, given the following:
Population 1: Duracell
n1 = 100
x1 = 308
s1 = 84
Population 2: Energizer
n2 = 100
x2 = 254
s2 = 67

In [67]:
# Duracell sample
n1 = 100 
m1 = 308 
s1 = 84 

#Energizer
n2 = 100
m2 = 254 
s2 = 67

since the sample size n>30 we use Z test 

- H0:  two population means are same       µ1=µ2
- Ha:  two population means are not same   µ1!=µ2

it is a two tail test
it is 2 sampled Z test

In [68]:
# calculating  test statistics for 2 sampled Z test
std_error=(s1**2/n1)+(s2**2/n2)
T_obs=(m1-m2)/std_error**0.5
print("Observed test statistics is",T_obs)

Observed test statistics is 5.025702668336442

In [70]:
# calculating p value
p_val=2*norm.cdf(T_obs)
print("The p value is",p_value)

The p value is 0.039285415777427564

#### Conclusion
since the p value is lesser than significance level we reject null hypo

### Problem Statement 13:

Pooled estimate of the population variance Does the data provide sufficient evidence to conclude that average percentage increase in the price of sugar differs when it is sold at two different prices? Population 1: Price of sugar = Rs. 27.50 n1 = 14 x1 = 0.317% s1 = 0.12% Population 2: Price of sugar = Rs. 20.00 n2 = 9 x2 = 0.21% s2 = 0.11%

In [73]:
n1 = 14 
x1 = 0.317
s1 = 0.12 
n2 = 9 
x2 = 0.21 
s2 = 0.11
s_1=s1**2
s_2=s2**2
s=((n1-1)*s_1)+((n2-1)*s_2)
n=(n1+n2-2)
se=(s/n)**0.5
n_1=((1/n1)+(1/n2))**0.5
t_score=(x1-x2)/se*n_1

print(f"T_score is {t_score}")
print(f"Critical Region is {t.ppf(1-0.05,df=n)}")

T_score is 0.3931089218182991
Critical Region is 1.7207429028118775

#### Conclusion
T_score is 0.3931089218182991
Critical Region is 1.7207429028118775
*We accept null hypothesis at alpha=5%.So,average price do not increase

## Problem Statement 14:

The manufacturers of compact disk players want to test whether a small price reduction is enough to increase sales of their product. Is there evidence that the small price reduction is enough to increase sales of compact disk players? Population 1: Before reduction n1 = 15 x1 = Rs. 6598 s1 = Rs. 844 Population 2: After reduction n2 = 12 x2 = RS. 6870 s2 = Rs. 669 Population 1: Before reduction n1 = 15 x1 = Rs. 6598 s1 = Rs. 844 Population 2: After reduction n2 = 12 x2 = RS. 6870 s2 = Rs. 669
The manufacturers of compact disk players want to test whether a small price reduction is enough to increase sales of their product. Is there evidence that the small price reduction is enough to increase sales of compact disk players? Population 1: Before reduction n1 = 15 x1 = Rs. 6598 s1 = Rs. 844 Population 2: After reduction n2 = 12 x2 = RS. 6870 s2 = Rs. 669

In [75]:
n1 = 15 
x1 = 6598 
s1 = 844 
n2 = 12 
x2 = 6870 
s2 = 669
s_1=s1**2
s_2=s2**2

s=((n1-1)*s_1)+((n2-1)*s_2)
n=(n1+n2-2)
se=(s/n)**0.5
n_1=((1/n1)+(1/n2))**0.5
t_score=(x1-x2)/se*n_1

print(f"T_score is {t_score}")
print(f"Critical Region is {t.ppf(0.05,df=n)}")

T_score is -0.1364745051598569
Critical Region is -1.708140761251899

## Problem Statement 17:

A die is thrown 132 times with the following results: Number turned up: 1, 2, 3, 4, 5, 6 Frequency: 16, 20, 25, 14, 29, 28 Is the die unbiased? Consider the degrees of freedom as 𝑝 − 1.

In [11]:
from scipy.stats import chisquare
observed=[16,20,25,14,29,28]
expected=[22,22,22,22,22,22]

# performing chi square goodness of fit test
result=chisquare(observed,expected)
print(f"Observed Chi square test statistic is {result[0]} and p value is {result[1]}")

# dice is unbiased

Observed Chi square test statistic is 9.0 and p value is 0.1090641579497725

### Problem Statement 18:

In a certain town, there are about one million eligible voters. A simple random
sample of 10,000 eligible voters was chosen to study the relationship between
gender and participation in the last election. The results are summarized in the
following 2X2 (read two by two) contingency table:

In [23]:
import pandas as pd
from scipy.stats import chi2_contingency
datas={"Men":[2792,1486],"Women":[3591,2131]}
idx=['Voted','Not Voted']
df=pd.DataFrame(data=datas,index=idx)

# performing chi sqaure independence test
chi2,p_val,dof,expected=chi2_contingency(df)

print(f"The p value is {p_val}")

The p value is 0.01047464310091866

#### Conclusion
since p value is less than significance level we reject null hypothesis

## Problem Statement 19:

A sample of 100 voters are asked which of four candidates they would vote for in an
election. The number supporting each candidate is given below:

In [27]:
obs=[41,19,24,16]
exp=[25,25,25,25]

# performing the chi square goodness of fit test
res=chisquare(obs,exp)
print(f"Observed Chi square test statistic is {res[0]} and p value is {res[1]}")

Observed Chi square test statistic is 14.959999999999999 and p value is 0.001851152735284203

## Conclusion

since p value is less than significance level we reject null hypo

## Problem Statement 20:

Children of three ages are asked to indicate their preference for three photographs of adults. Do the data suggest that there is a significant relationship between age and photograph preference? What is wrong with this study? [Chi-Square = 29.6, with 4 df: 𝑝

In [31]:
datas={"A":[18,2,20],"B":[22,28,10],"C":[20,40,40]}
idx=['5-6 Yrs','7-8 Yrs','9-10 Yrs']
df=pd.DataFrame(data=datas,index=idx)

In [32]:
# performing chi square test of independence
chi2,p_val,dof,expected=chi2_contingency(df)

print("The p value is",p_val)

The p value is 5.894582174262606e-06

#### Conclusion

since our p value is less than the significance level we reject null hypo

## Problem Statement 21:
A study of conformity using the Asch paradigm involved two conditions: one where one confederate supported the true judgement and another where no confederate gave the correct response.

In [36]:
import numpy as np
obs=np.array([[18,40],[32,10]])
result=chi2_contingency(obs)
print(f"Chi Square value is {result[0]}")
print(f"Critical region with 1df and alpha=0.001 is 10.83")
print("We reject null hypoythesis.So,there is significant difference between the 'support' and 'no support' condition")

Chi Square value is 18.10344827586207
Critical region with 1df and alpha=0.001 is 10.83
We reject null hypoythesis.So,there is significant difference between the 'support' and 'no support' condition

## Problem Statement 22:
We want to test whether short people differ with respect to their leadership qualities (Genghis Khan, Adolf Hitler and Napoleon were all stature-deprived, and how many midget MP's are there?) The following table shows the frequencies with which 43 short people and 52 tall people were categorized as "leaders", "followers" or as "unclassifiable". Is there a relationship between height and leadership qualities? [Chi-Square = 10.71, with 2 df: 𝑝 < 0.01].

In [37]:
obs=([[12,32],[22,14],[9,6]])
result=chi2_contingency(obs)
print(f"Chi Square value is {result[0]}")
print(f"Critical region with 2df and alpha=0.001 is 13.82")
print("We accept null hypothesis.there is no relationship between height and leadership qualities")

Chi Square value is 10.712198008709638
Critical region with 2df and alpha=0.001 is 13.82
We accept null hypothesis.there is no relationship between height and leadership qualities

## Problem Statement 23:

Each respondent in the Current Population Survey of March 1993 was classified as employed, unemployed, or outside the labor force. The results for men in California age 35- 44 can be cross-tabulated by marital status, as follows:

In [38]:
obs = np.array([[679,103,114], [63,10,20],[42,18,25]])
result=chi2_contingency(obs)
print(f"Chi Square value is {result[0]}")
print(f"Critical region with 4df and alpha=0.001 is 18.47")
print("We reject null hypothesis at alpha=0.001 .there is relationship between martial status and employment status")

Chi Square value is 31.61310319407798
Critical region with 4df and alpha=0.001 is 18.47
We reject null hypothesis at alpha=0.001 .there is relationship between martial status and employment status